body {
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style:none;
}

table {
  text-align: center; margin: auto; width: 60%; height: 100px;
}

.breadcrumb-item {
  font-size: 0.8em !important;
}
.ellipsis{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-table {
  table-layout: fixed;
}
.board-table .numId,
.board-table .views{
  width: 60px;
  text-align: center;
}
.board-table .author,
.board-table .date {
  width: 100px;
  text-align: center;
}
.board-table .title-container:hover .title-comments,
.board-table .title-container:hover .title-text,
.board-table .title-container:hover .title-attachment
{
  text-decoration: underline;
}

.post-body,
.comment-text {
  white-space: pre-line;
}
.post-info{
  font-size: 0.8em;
}

.user-form {
  width: 400px;
}

.post-index-tool {
  max-width: 450px;
}
.post-index-tool input[type='text']{
  max-width: 130px;
}

.highlighted {
  background-color: yellow;
}

.comment-edit,
.comment-reply,
.comment-edit-enabled .comment-show {
  display:none;
}

.comment-edit-enabled .comment-edit,
.comment-reply-enabled .comment-reply {
  display:inherit;
}

@media (min-width:768px){
  .navbar-collapse{ 
    float:left
  }
}

@media (max-width:767px){
  .navbar-form.navbar-right{
        border-color: #101010;
        width: calc(100% - 30px);
        padding: 0;
        border: none;
   }
   .navbar{
     border:none;
   }
   .navbar-collapse{  
     background-color: #222;
     position: absolute;
     top: 50px;
     width: 100%;
     left:0;
     margin:0 !important;
   }
}
body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FFFFFF !important;
  }


    

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 450px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }