<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">책 사진</th>
        <th scope="col">책 이름</th>
        <th scope="col">출판사 / 저자</th>
        <th scope="col">책 상세 정보</th>
        <th scope="col">책 가격</th>
        <th scope="col">책 수량</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
    </tbody>
  </table>
  <a href="/book/addBook">+추가</a>