<form class="user-form container h-100" action="/users/goSign" method="post">
  <h1>Sign</h1>
  <div class="form-group row">
    <label for="USER_ID" class="col-sm-3 col-form-label">ID</label>
    <div class="col-sm-9">
      <input type="text" id="USER_ID" name="USER_ID" value="" class="form-control">
    </div>
  </div>


  <div class="form-group row">
    <label for="USER_PW" class="col-sm-3 col-form-label">PW</label>
    <div class="col-sm-9">
      <input type="password" id="USER_PW" name="USER_PW" value="" class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <label for="USER_PW" class="col-sm-3 col-form-label">NAME</label>
    <div class="col-sm-9">
      <input type="text" id="USER_NAME" name="USER_NAME" value="" class="form-control">
    </div>
  </div>

    <!-- Submit button -->
    <div class="form-group row">
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Sign Up
      </button>
    </div>

</form>